main {
	margin: 2em 0 2em 0;
}

section {
	margin: 1em 0 1em 0;
}

aside {
	margin: 1em 0 1em 0;
}

aside h3 {
	text-align: center;
	margin:0.51em 0;
}

body {
	padding-bottom: 50px;
}

footer {
	color: lightgrey;
}

footer a {
	color: lightgrey;
	text-decoration: none;
}

footer a:hover {
	color: lightgrey;
	text-decoration: underline;
}

.modal-backdrop.show {
	opacity: 0.87 !important;
}